:root {
    --color-primary: #4287f5;
    --color-background: #F4F5F0;
    --color-text: #39373A;
    --color-red: #A62B30; 
    --color-screen-background: #39373A
}

.root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--color-screen-background);
}