.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star {
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.star--last {
    margin-right: 0px;
 }

.is-mobile .star {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}
